* {
  font-family: Helvetica;
}
td,
th{
  border-radius: 5px;
  text-align: center;
}
table {
  border-spacing: 5px;
}
th {
  background-color: #B4C2CF;
  font-weight: lighter;
  
}
h2 {
  font-size: 1.1em;
  margin: 0;
}
.bold {
  font-weight: bolder;
}
.magistral {
  background-color: #BFBFBF;
}
.conf {
  background-color: #E5E6FF;
}
.tutorial {
  background-color: #91CDFF
}
.taller {
  background-color: #9699FE;
}
.informal {
  background-color: #CACBFF;
}
.general {
  background-color: #9798CA;
}
td span {
  display: block;
}
.ponente {
  font-style: italic;
}
.event-type {
  font-size: .8em;
  font-style: italic;
}
.company {
  font-style: italic;
}
table caption {
  font-weight: bolder;
  font-size: 2em;
  padding-bottom: 20px;
}
